<div class="row">
  <div class="col-md-4">
      <select [(ngModel)]="selectedCategory" class="form-select">
      <option selected hidden >Kategori Seçin</option>
      <option *ngFor="let category of categories" value="{{category.categoryId}}">{{category.categoryName}}</option>
    </select>
  </div>
  <div class="col-md-4">
      <select [(ngModel)]="selectedGame" class="form-select">
      <option selected hidden>Yayıncı Seçin</option>
      <option  *ngFor="let game of games" value="{{game.gameId}}" >{{game.gameName}}</option>
    </select>
  </div>
  <div class="col-md-4">
      <button type="button" [class]="checkFilterClass()" [routerLink]=(routingLink())>Filtrele</button>
      <button type="buttron" class="btn btn-warning mx-2" routerLink="">Temizle</button>
  </div>
</div>
