<div class="row">
  <label for="products">Bir yayıncı seçin</label>
  <div class="col-md-4">
      <select [(ngModel)]="selectedGame" class="form-select">
      <option selected hidden>Yayıncı Seçin</option>
      <option  *ngFor="let game of games" value="{{game.gameId}}" >{{game.gameName}}</option>
    </select>
  </div>
  <div class="col-md-4">
      <button type="button" [class]="checkFilterClass()" [routerLink]=(routingLink())>Filtrele</button>
      <button type="buttron" class="btn btn-warning mx-2" routerLink="">Temizle</button>
  </div>
</div>
