<table class="table table-striped">
  <thead class="table-dark">
      <tr>
          <th scope="col">Oyun ID No</th>
          <th scope="col">Oyun Adı</th>
          <th scope="col">Yayıncı Adı</th>
          <th scope="col">Yayın Tarihi</th>
          <th scope="col">Kategorisi</th>
          <th scope="col">Açıklama</th>
          <th scope="col">Fiyatı</th>
          <th scope="col"><button class="btn btn-success" click="routerLink" routerLink="add">Oyun Ekle</button></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let product of products">
          <th scope="row">{{product.productId}}</th>
          <td>{{product.productName}}</td>
          <td>{{product.gameId}}</td>
          <td>{{product.releaseDate}}</td>
          <td>{{product.categoryId}}</td>
          <td>{{product.descriptionProduct}}</td>
          <td>{{product.unitPrice}}</td>
          <td>
              <button class="btn btn-warning" click="routerLink" routerLink="update/{{product.productId}}">Güncelle</button>
              <button class="btn btn-danger" click="routerLink" routerLink="delete/{{product.productId}}">Sil</button>
          </td>
      </tr>
  </tbody>

</table>
