<br><br>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-6">
      <img [src]="imgUrl + aboutImage" class="img-fluid rounded-circle" alt="about-image">
    </div>
    <div class="col-md-6 mt-4">
      <div class="starter-template">
        <h1>MassGames</h1>
        <br>
        <p class="lead">MassGames, oyunları bilgisayarınıza indirip oynayabileceğiniz <br> bir oyun sitesidir.
          MassGames, aksiyon oyunları, korku oyunları, <br>simülasyon oyunları, keşif oyunları ve çok daha
          fazlasını içerir. </p>
      </div>
      <br>
      <button type="button" class="btn btn-secondary text-light">Şimdi Yükle</button>
    </div>
  </div>
</main>
<br><br>
