<div class="content">
  <div class="col-md-12">
    <div class="card bg-dark text-light">
      <div class="card-header">
        <h5 class="title">Oyun Güncelle</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="productUpdateForm">

          <div class="mb-3">
            <label for="productId"  style="display: none;">Güncellemek istediğiniz Oyun Id</label>
              <div class="form-group w-25">
                <input type="number" id="productId" formControlName="productId" class="form-control"
                  placeholder="Product Id" [(ngModel)]="productId" style="display: none;"/>
              </div>
          </div>

          <div class="mb-3">
            <label for="productName">Ürün adı</label>
            <div class="form-group w-25">
              <input type="text" id="productName" formControlName="productName" class="form-control"
                [(ngModel)]="productName" placeholder="Ürün adı"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="categoryId">Kategori adı</label>
            <div class="form-group w-25">
              <input type="number" id="categoryId" formControlName="categoryId" class="form-control"
                placeholder="Kategori" [(ngModel)]="categoryId"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="unitPrice">Fiyat</label>
            <div class="form-group w-25">
              <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control"
                placeholder="Fiyat" [(ngModel)]="unitPrice"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="gameId">Yayıncı/Geliştirici</label>
            <div class="form-group w-25">
              <input type="number" id="gameId" formControlName="gameId" class="form-control"
                placeholder="Yayıncı/Geliştirici" [(ngModel)]="gameId"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="releaseDate">Yayın Tarihi</label>
            <div class="form-group w-25">
              <input type="date" id="releaseDate" formControlName="releaseDate" class="form-control"
                placeholder="Yayın Tarihi" [(ngModel)]="releaseDate"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="descriptionProduct">Açıklama</label>
            <div class="form-group w-50">
              <input type="text" id="descriptionProduct" formControlName="descriptionProduct" class="form-control"
                placeholder="Açıklama" [(ngModel)]="descriptionProduct"/>
            </div>
          </div>

        </form>
      </div> <!--card-body-->

      <div class="card-footer">
        <button class="btn btn-fill btn-secondary" (click)="update()" style="float: left;">Güncelle</button>
      </div>

    </div> <!--card-->

  </div>

</div>

