<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Yayıncı/Geliştirici Güncelle</h5>
      </div>

      <div class="card-body">
        <form [formGroup]="gameUpdateForm">

          <div class="mb-3">
            <label for="gameId">Güncellemek istediğiniz Yayıncı Id</label>
              <div class="form-group">
                <input type="number" id="gameId" formControlName="gameId" class="form-control"
                  placeholder="Yayıncı Id" [(ngModel)]="gameId"/>
              </div>
          </div>

          <div class="mb-3">
            <label for="gameName">Yayıncı adı</label>
            <div class="form-group">
              <input type="text" id="gameName" formControlName="gameName" class="form-control"
                [(ngModel)]="gameName" placeholder="Kategori adı"/>
            </div>
          </div>

          <div class="mb-3">
            <label for="releaseDate">Tarihi</label>
            <div class="form-group">
              <input type="date" id="releaseDate" formControlName="releaseDate" class="form-control"
                placeholder="Tarihi" [(ngModel)]="releaseDate/>
            </div>
          </div>

          <div class="mb-3">
            <label for="descriptions">Hakkında</label>
            <div class="form-group">
              <input type="text" id="descriptions" formControlName="descriptions" class="form-control"
                placeholder="Hakkında" [(ngModel)]="descriptions"/>
            </div>
          </div>

        </form>
      </div> <!--card-body-->

      <div class="card-footer">
        <!--<button class="btn btn-fill btn-dark" (click)="backToList()">Geri dön</button>-->
        <button class="btn btn-fill btn-success" (click)="update()" style="float: right;">Güncelle</button>
      </div>

    </div> <!--card-->

  </div>

</div>

