<table class="table table-striped table-dark text-light">
  <thead>
      <tr>
          <th scope="col">Yayıncı ID No</th>
          <th scope="col">Yayıncı Adı</th>
          <th scope="col">Tarihi</th>
          <th scope="col">Hakkında</th>
          <th></th>
          <th><button class="btn btn-secondary" click="routerLink" routerLink="add">Ekle</button></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let game of games">
          <th scope="row">{{game.gameId}}</th>
          <td>{{game.gameName}}</td>
          <td>{{game.releaseDate | date:"dd/MM/yy"}}</td>
          <td>{{game.descriptions}}</td>
          <td></td>
          <td>
              <button class="btn btn-secondary m-1" click="routerLink" routerLink="update/{{game.gameId}}">Güncelle</button>
              <button class="btn btn-secondary m-1" click="routerLink" routerLink="delete/{{game.gameId}}">Sil</button>
          </td>
      </tr>
  </tbody>

</table>
