<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Favorilerim">
     <i class="fa fa-heart" style="color: darkred;" aria-hidden="true"></i>
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
      <li *ngFor="let favoriteItem of favoriteItems" style="width: 235px;">
          <a class="dropdown-item">
              <span click="routerLink" routerLink="products/detail/{{favoriteItem.product.productId}}" style="float: left; cursor: pointer;">{{favoriteItem.product.productName}}</span>
              <span (click)="removeFromFavorite(favoriteItem.product)" class="badge bg-danger mt-1" style="float: right; cursor: pointer; height: min-content;">X</span>
          </a>
      </li>
      <li *ngIf="favoriteItems.length<1 " class="text-center">
          <span class="badge rounded-pill bg-secondary text-light">Favorileriniz boş</span>
      </li>
  </ul>
</li>
