<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default bg-dark text-light">
        <div class="panel-heading  bg-secondary">
          <h3 class="panel-title text-light">Ödeme detay</h3>
          <div class="checkbox pull-right">
            <label class="text-light">
              <input type="checkbox" />
              Hatırla
            </label>
          </div>
        </div>
        <div class="panel-body">
          <form [formGroup]="paymentForm">
            <div class="form-group">
              <label for="cardNumber"> KART NUMARASI</label>
              <div class="input-group">
                <input type="text" class="form-control" id="cardNumber" placeholder="Geçerli kart numarası" required
                  autofocus />
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock text-dark"></span></span>
              </div>
            </div>

            <div class="row">

              <div class="col">
                <div class="form-group">
                  <label for="expityMonth"> SON KULLANMA TARİHİ</label>
                  <div class="col w-25">
                    <input type="text" class="form-control" id="expityMonth" placeholder="MM" required />
                  </div>
                  <br>
                  <div class="col w-25">
                    <input type="text" class="form-control" id="expityYear" placeholder="YY" required />
                  </div>
                </div>

                <div class="form-group">
                  <label for="cvvCode"> CVV KODU</label>
                  <input type="password" class="form-control w-25" id="cvvCode" placeholder="CVV" required />
                </div>
              </div>

              </div>
          </form>
        </div>
      </div>
      <ul class="nav nav-pills nav-stacked">
        <li *ngIf="order" class="active w-100">
          <a><span class="badge pull-right"><span class="glyphicon glyphicon"></span>{{product.unitPrice | currency:
              "TRY":"₺":"3.2-2"}}</span>
            Ödenecek tutar</a>
        </li>
      </ul>
      <br />
      <a (click)="payment()" class="btn btn-secondary btn-lg btn-block" role="button">Öde</a>
    </div>
    <div class="col-md-5">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-7" *ngIf="product">
            <a href="products/detail/{{product.productId}}">
              <img *ngIf="product.productImage.length == 0" class="card-img m-auto" alt="Image"
                style="object-fit: cover;" [src]="imgUrl + defaultImage">
              <img *ngIf="product.productImage.length != 0" class="card-img m-auto" alt="Image"
                style="object-fit: cover;" [src]="imgUrl + product.productImage[0].imagePath ">
            </a>
          </div>
          <div class="col-md-5">
            <div class="card-body">
              <h5 *ngIf="product" class="card-title text-dark mt-1"><b>{{product.productName}} </b></h5>
              <p *ngIf="product" class="card-text"><small class="text-muted"><b>Kategori:
                    {{product.categoryName}}</b></small></p>
                    <p *ngIf="product" class="card-text"><small class="text-muted"><b>Yayıncı:
                      {{product.gameName}}</b></small></p>
              <p *ngIf="product" class="card-text"><small class="text-muted"><b>Ücret: {{product.unitPrice | currency:
                "TRY":"₺":"3.2-2"}}</b></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--
<div class="container">
  <div class="page-header text-center">
      <h1>Kredi Kartı ile Ödeme</h1>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-xs-12 col-md-4 col-md-offset-4">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <div class="row">
                          <h3 class="text-center">Ödeme Detayları</h3>
                      </div>
                  </div>
                  <div class="panel-body">

                      <form role="form">
                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group"> <label>KART NUMARASI</label>
                                      <div class="input-group"> <input type="tel" class="form-control" placeholder="Kart Numarası" /> <span class="input-group-addon"><span class="fa fa-credit-card"></span></span> </div>
                                  </div>
                              </div>
                          </div>

                          <div class="row">

                              <div class="col-xs-7 col-md-7">
                                  <div class="form-group"> <label><span class="hidden-xs">SON GEÇERLİLİK TARİHİ</span><span class="visible-xs-inline">EXP</span> DATE</label> <input type="tel" class="form-control" placeholder="MM / YY" /> </div>
                              </div>

                              <div class="col-xs-5 col-md-5 pull-right">
                                  <div class="form-group"> <label>CVC KODU</label> <input type="tel" class="form-control" placeholder="CVC" /> </div>
                              </div>

                          </div>

                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="form-group"> <label>KART SAHİBİ ADI SOYADI</label> <input type="text" class="form-control" placeholder="Kart Sahibi Adı Soyadı" /> </div>
                              </div>
                          </div>

                      </form>
                  </div>

                  <br>

                  <div class="panel-footer">
                      <div class="row">
                          <div class="col-xs-12"> <button class="btn btn-secondary btn-lg btn-block">Ödemeyi Onayla</button> </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

-->
