<div class="content">
  <div class="col-md-12">
    <div class="card bg-dark text-light">
      <div class="card-header">
        <h5 class="title">Oyun Ekle</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="productAddForm">

          <div class="mb-3">
            <label for="productName">Oyun Adı</label>
            <div class="form-group w-25">
              <input type="text" id="productName" formControlName="productName" class="form-control"
                placeholder="Ürün adı" />
            </div>
          </div>

          <div class="mb-3">
            <label for="categoryId">Kategori Id</label>
            <div class="form-group w-25">
              <input type="number" id="categoryId" formControlName="categoryId" class="form-control"
                placeholder="Kategori" />
            </div>
          </div>

          <div class="mb-3">
            <label for="unitPrice">Fiyat</label>
            <div class="form-group w-25">
              <input type="number" id="unitPrice" formControlName="unitPrice" class="form-control"
                placeholder="Fiyat" />
            </div>
          </div>

          <div class="mb-3">
            <label for="gameId">Yayıncı/Geliştirici Id</label>
            <div class="form-group w-25">
              <input type="number" id="gameId" formControlName="gameId" class="form-control"
                placeholder="Yayıncı/Geliştirici" />
            </div>
          </div>

          <div class="mb-3">
            <label for="releaseDate">Yayın Tarihi</label>
            <div class="form-group w-25">
              <input type="date" id="releaseDate" formControlName="releaseDate" class="form-control"
                placeholder="Yayın Tarihi" />
            </div>
          </div>

          <div class="mb-3">
            <label for="descriptionProduct">Açıklama</label>
            <div class="form-group w-50">
              <input type="text" id="descriptionProduct" formControlName="descriptionProduct" class="form-control"
                placeholder="Açıklama" />
            </div>
          </div>

        </form>
      </div><!--card-body-->

      <div class="card-footer">
        <button class="btn btn-fill btn-secondary" (click)="add()">Ekle</button>
      </div>

    </div> <!--card-->
  </div>
</div>
