<div class="content">
  <div class="col-md-12">
      <div class="card bg-dark text-light">
          <div class="card-header">
              <h5 class="title text-center">Sipariş Sil</h5>
          </div>
          <div class="card-body">
              <form [formGroup]="orderDeleteForm" *ngIf="orderDeleteForm">
                  <div class="mb-3">
                      <label for="orderId"><b>Sipariş Id</b></label>
                      <input type="number" id="orderId" formControlName="orderId" class="form-control" [(ngModel)]="orderId"/>
                  </div>
              </form>

              <table class="table container">
                  <thead>
                      <tr>
                          <th>Sipariş ID</th>
                          <th>Kullanıcı ID</th>
                          <th>Sipariş Tarihi</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngIf="order">
                          <td>{{order.orderId}}</td>
                          <td>{{order.userId}}</td>
                          <td>{{order.orderDate}}</td>
                      </tr>
                  </tbody>

              </table>

          </div>
          <div class="card-footer">
              <button class="btn btn-fill btn-secondary m-1" style="float: left;" (click)="delete()">Sil</button>
          </div>
      </div>
  </div>
</div>
