
<div><img style="height: 400px; width: 100%; border: 2px solid #272b30; margin:10px;" [src]="imgUrl + welcomeImage"
  alt="welcome image"></div>

<div class="container">
<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="d-flex justify-content-end ">
  <input type="text" [(ngModel)]="filterText" class="search p-2" id="filterText"
    placeholder="Arama ifadesi giriniz..">
  <button class="btn btn-dark" type="button"><i class=" fa fa-search"></i></button>
</div>

<div *ngIf="filterText.length>2" class="alert alert-success text-center">
  {{filterText}} için sonuçlar :
</div>

  <table *ngIf="dataLoaded==true" class="table text-light">
    <thead>
      <tr>
        <th>Ürün Adı</th>
        <th>Kategori</th>
        <th>Fiyat</th>
        <th>Yayıncı Adı</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody  *ngFor="let product of products | filterPipe : filterText">
      <tr>
        <td>{{product.productName | uppercase}}</td>
        <td>{{product.categoryName}}</td>
        <td>{{product.unitPrice | vatAdded:18 | currency:" TRY ":" ₺ ":""}}</td>
        <td>{{product.gameName}}</td>
        <td  routerLink="/products/detail/{{product.productId}}"><i class="fas fa-edit btn btn-secondary w-100 h-30">Detay</i></td>
        <td><button (click)="addToCart(product)" type="button" class="btn btn-secondary w-90 h-20">Sepete ekle</button></td>
        <td> <a class="nav-link" (click)="addToFavorite(product)" role="button" type="button" style="font-size: x-large; right: 5px;" title="Favorilerime ekle">
          <i class="fa fa-heart" style="color:red;" aria-hidden="true"></i>
      </a></td>
      </tr>
    </tbody>
  </table>

</div>




