<br><br>
<body class="text-center bg-dark">
  <div class="row">
    <div class="col-md-6">
      <img [src]="imgUrl + registerImage" class="rounded-circle" alt="register-image" style="width: 90%; height: 90%;">
    </div>
    <div class="col-md-6">

  <main class="form-signin">
    <form [formGroup]="registerForm" *ngIf="registerForm">
        <h1 class="h3 mb-3 fw-normal text-light">Kayıt Ol</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="ad">
            <label for="firstName">Ad</label>
        </div>

        <div class="form-floating mt-1">
            <input type="text" class="form-control" id="lastName" formControlName="lastName" placeholder="soyad">
            <label for="lastName">Soyad</label>
        </div>

        <div class="form-floating mt-1">
            <input type="email" class="form-control" id="floatingInput" formControlName="email" placeholder="isim@ornek.com">
            <label for="floatingInput">Eposta</label>
        </div>
        <div class="form-floating mt-1">
            <input type="password" class="form-control" id="floatingPassword" formControlName="password" placeholder="parola">
            <label for="floatingPassword">Şifre</label>
        </div>

        <div class="checkbox mb-3 text-light">
            <span>Zaten kayıtlı mısın?  </span>
            <a href="login" style="text-decoration: none;">Giriş yap</a>
        </div>
        <button class="w-100 btn btn-lg btn-secondary" (click)="register()" type="submit">Kayıt ol</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
    </form>
</main>
    </div>
  </div>




</body>
